* {
  margin: 0;
}

.backdrop {
  color: #fff;
}

.HomeCursor {
  display: inline-block;
  width: 2px;
  height: 26px;
  background-color: #333;
  animation-name: cursor-blink-type;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

.MessageCursor {
  display: inline-block;
  width: 2px;
  height: 16px;
  background-color: #333;
  animation-name: cursor-blink-type;
  animation-duration: 0.7s;
  animation-iteration-count: infinite;
}

@keyframes cursor-blink-type {
  from,
  to {
    background-color: #333;
  }
  50% {
    background-color: transparent;
  }
}
